.conteiner {
  margin: 0 auto;
  width: 990px;
}
b a {
  text-decoration: none;
  color: #000068;
}

p, pre, code {
  font-size: 18px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.linha {
  color: rgba(103, 103, 225, 0.504);
  margin-top: 30px;
  margin-bottom: 50px;
}

.codigo {
  width: 500px;
  background-color: #292f33;
  padding: 0 6px;
  margin: 0;
  position: relative;
  overflow: auto;
  color: #ffffff;
}

.copy-code {
  background-color: #555555;
  color: #ffffff;
  border: none;
  padding: 3px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.copy-code:hover {
  background-color: #777777;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0;
}

h3, h4, h5 {
  font-size: 18px;
}